<h1><%= @list.name %> Bookmarks</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= link_to bookmark.movie.title, movie_path(bookmark.movie) %></li>
    <!-- Display other bookmark details as needed -->
  <% end %>
</ul>

<%= link_to "Back to List", list_path(@list), class: "btn btn-secondary" %>
